@import-once "less/bootstrap.less";



body{
  background:url("img/fon.png");
  margin: 0 auto;
}

.main_content{
  margin: 0 auto;

}
.rubric{
  background: @white;


}
.fix-banner{
  width: 220px;
  height: 100%;
  margin-bottom: 10px;
}


.blok{
  border: 1px solid @grayLight;
  font-size: 12px;
  line-height: 18px;
  background: @white;
  padding: 8px;


  a{
    color: @black;
  }

}
.blok1{
  width: 200px;
}
.blok2{
  width: 420px;
}
.blok-yellow{
  font-size: 12px;
  line-height: 18px;
  background: #fef5ca;
  padding: 8px;
  box-shadow: 3px 3px 10px -2px @grayLight;
  a{
    color: @black;
  }

}
.time-yellow{
  background: #f5ecc3;
  width: 100%;
  color:@gray;
  position: relative;
  padding: 8px;
  margin-bottom: -8px;
  margin-left: -8px;
}
.time{
  width: 100%;
  background:@grayLighter;
  color:@gray;
  position: relative;
  padding: 8px;
  margin-bottom: -8px;
  margin-left: -8px;


}

.container {

  position: relative;
  width: 100%;
  margin: 0 auto;
}

.container > div.blok, div.blok-yellow {
  height: auto;
  position: absolute;
}
.container > div[data-ss-colspan='1'] { width: 200px;}
.container > div[data-ss-colspan='2'] { width: 420px;}


.container .ss-placeholder-child {
  background: transparent;
  border: 1px dashed red;
}

